include AUTHORS
include LICENSE
include MANIFEST.in
include COPYING
include phacter.1
include *.spec
include bin/phacter
recursive-include doc *
recursive-include src/phacter *.py
recursive-include src/phacter/utils *.py
